@keyframes slideIn {
    from {
        opacity: 0; 
        transform: translateY(-100%);
    }
    to {
        opacity: 1; 
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1; 
        transform: translateY(0);
    }
    to {
        opacity: 0; 
        transform: translateY(-100%);
    }
}



.notification {
    position: fixed;
    padding: 15px 20px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 230px; 
    min-height: 14px; 
    font-family: Arial, sans-serif;
    animation-duration: 0.5s;
    top: 25px; 
    right: 20px;
    transform: translateX(0);
}

.notification.slideIn {
    animation-name: slideIn;
    animation-fill-mode: forwards;
}

.notification.slideOut {
    animation-name: slideOut;
    animation-fill-mode: forwards;
}

.notification .icon {
    font-size: 20px;
    margin-right: 10px;
    float: left;
}

.notification .content {
    overflow: hidden; 
}

.notification .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    overflow: auto; 
    zoom: 1; 
}

.notification .message {
    font-size: 15px;
    margin-bottom: 8px;
    margin-top: 10px; 
    word-wrap: break-word;
    border-left-width: 3px;
    border-left-style: solid;
    padding-left: 10px;
    border-left-color: inherit;
}

.notification .time {
    position: absolute; 
    top: 7px;
    right: 8px; 
    margin-top: 3px; 
    font-size: 12px;
    color: #fbf9f9;
    padding: 3px 8px; 
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 15px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
    height: 20px;
    line-height: 20px; 
}

.notification .progress-bar {
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
}


@media screen and (max-width: 600px) {
    .notification {
        width: 90%; 
        left: 5%; 
        transform: translateX(0); 
        top: 10px; 
    }
}
